.post-form {
  background-color: #f2c9e1;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;

  max-width: 95%;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.div-gif-display {
  height: 200px;
  margin: 3px 0 8px 3px;
  display: flex;
  overflow-x: scroll;
}
.div-gif-display img {
  height: 200px;
  width: 200px;
  margin-right: 5px;
}

.post-button {
  margin: 1rem;
  float: right;
}

@media screen and (min-width: 400) {
  .post-form {
    height: 23rem;
  }

  .post-button {
    margin: 5px;
    float: left;
  }
}
